@charset "UTF-8";
html,body,h1,h2,h3,h4 {font-family: georgia;}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
body{
    background-color: #f8eddd;
    color: black;
}
footer{
    background-color: #f8eddd;
}
.logo{
margin-top: 50px;
text-align: center;
}
p {
    color: black;
}
h3 {
color: black;
}